@using EbookZone.Core
@using EbookZone.Domain.Enums

@model EbookZone.ViewModels.IdentityViewModel

@{
    ViewBag.Title = "Index";
}

@if (SecurityManager.CurrentUser.UserType == UserType.Administrator || SecurityManager.CurrentUser.UserType == UserType.Moderator)
{
    
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
else
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
    
@using (Html.BeginForm("Save", "User", FormMethod.Post, new { @class = "form-horizontal editForm" }))
{
    <div class="form-horizontal">
        <div class="control-group">
            <label class="control-label">User Name:</label>
            <div class="controls">
                @Html.TextBoxFor(x=>x.UserName, new { @class = "input-xlarge uneditable-input", @disabled = "true" })
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label">Email:</label>
            <div class="controls">
                @Html.TextBoxFor(x=>x.Email, new { @class = "input-xlarge uneditable-input", @disabled = "true" })
            </div>
        </div>
    </div>
    
    <br/>
    <br/>
    
    <div class="form-horizontal">
        <div class="control-group">
            <label class="control-label">Password:</label>
            <div class="controls">
                @Html.PasswordFor(x=>x.Password, new { @class = "input-xlarge" })
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Confirm password:</label>
            <div class="controls">
                @Html.PasswordFor(x=>x.ConfirmPassword, new { @class = "input-xlarge" })
            </div>
        </div>
    </div>
    
    <div class="form-horizontal">
        <div class="control-group">
            <label class="control-label">First Name:</label>
            <div class="controls">
                @Html.PasswordFor(x=>x.FirstName, new { @class = "input-xlarge" })
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Last Name:</label>
            <div class="controls">
                @Html.PasswordFor(x=>x.LastName, new { @class = "input-xlarge" })
            </div>
        </div>
    </div>
    
    <br/>
    <br/>
    
    <div style="float: right">
        <input type="submit" value="Update" class="btn btn-primary" />
    </div>
}